  
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #95bcff;
  }
  
  textarea {
    background: transparent;
    border: none;
    width: 80%;
    border-top: 2px solid gray;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    background-color: white;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .timeblock-area {
    margin: 0 auto;
  }

  .time-block {
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 10px #50517a;
  }

  .row {
    white-space: pre-wrap;
    height: 80px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 2px solid gray;
    width:10%;
  }
  
  .past {
    background-color: #d3d3d3;
    color: black;
  }
  
  .present {
    background-color: #eacb40;
    color: black;
  }
  
  .future {
    background-color: #99ddff;
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 10%;
    float: right;
    background-color: #06aed5;
    color: white;
    display: inline;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  @media screen and (max-width: 820px) {
    textarea {
      width:70%;
    }
    .saveBtn {
      width:15%;
    }
    .hour {
      width:15%;
    }
  }